{% extends "base.html" %}

{% block content %}
<h2>Panel de Administración</h2>

<div class="mb-3">
    <a href="{% url 'lista_trabajos' %}">
        <button class="btn btn-primary mb-3">Administrar Trabajos</button>
    </a>

    <a href="{% url 'lista_exposiciones' %}">
        <button class="btn btn-primary mb-3">Administrar Exposiciones</button>
    </a>

    <a href="{% url 'lista_premios' %}">
        <button class="btn btn-primary mb-3">Administrar Premios y Distinciones</button>
    </a>

    <a href="{% url 'subir_gif' %}">
        <button class="btn btn-primary mb-3">Subir Imagen Portada</button>
    </a>
</div>

{% endblock %}
