{% extends "base.html" %}

{% block content %}

    <h2>Lista de Exposiciones</h2>
    <a href="{% url 'agregar_exposicion' %}" class="btn btn-primary mb-3">Agregar Exposición</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Año</th>
                <th>Nombre</th>
                <th>Lugar</th>
                <th>Estado</th>
                <th>País</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for exposicion in exposiciones %}
            <tr>
                <td>{{ exposicion.año }}</td>
                <td>{{ exposicion.nombre_exposicion }}</td>
                <td>{{ exposicion.lugar }}</td>
                <td>{{ exposicion.estado }}</td>
                <td>{{ exposicion.pais }}</td>
                <td>{{ exposicion.tipo }}</td>
                <td>
                    <a href="{% url 'editar_exposicion' exposicion.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_exposicion' exposicion.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}