body {
    font-family:"Open Sans", sans-serif;
    background-color: #ffffff;
    color: #333;
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
    margin-top: 70px;
}
.ordenamiento {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
}

.ordenamiento span {
    cursor: pointer;
    padding: 5px;
}

.ordenamiento .activo {
    text-decoration: underline;
    font-weight: bold;
}
.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.columna {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    /*border-right: 1px solid #ccc;*/
}

/* Estilo de la lista */
.lista-obras ul {
    list-style: none;
    padding: 0;
}

.lista-obras li {
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.lista-obras li:hover {
    text-decoration: underline;
}

.lista-obras li.seleccionado {
    font-weight: bold;
    text-decoration: underline;
}

/* Imagen central */
.imagen-obra {
    width: 60%;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align:center;
}

.imagen-obra img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

/* Ficha técnica */
.ficha-tecnica {
    font-size: 0.8rem;
}

.ficha-tecnica-titulo {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

.ficha-tecnica-div {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}


/* Responsividad */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .columna {
        border-right: none;
        border-bottom: 1px solid #ccc;
        overflow-x: auto;
        white-space: nowrap;
    }
}


.main-image {
    width: 300px;
    height: auto;
    cursor: pointer;
    border-radius: 3px;
    transition: transform 0.3s;
}

.main-image:hover {
    transform: scale(1.05);
}

.thumbnails {
    margin-top: 10px;
}

.thumb {
    width: 40px;
    height: auto;
    margin: 5px;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.3s;
}

.thumb:hover {
    transform: scale(1.1);
}

/* Modal */
.imgmodal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.imgmodal-content {
    max-width: 90%;
    max-height: 90%;
}

.imgclose {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}


